<?xml version="1.0"?>
<configuration>

  <!-- Hide Manage from anonymous users-->
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!---Made logout availabe to logged in users-->
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!--Hide Login from Logged in users-->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
        <!-- Anonymous users-->
        <deny users="*"/>
        <!-- All users-->
      </authorization>
    </system.web>
  </location>

  <!--Hide Registration from Logged in users-->
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
        <!-- Anonymous users-->
        <deny users="*"/>
        <!-- All users-->
      </authorization>
    </system.web>
  </location>

</configuration>


