<?xml version="1.0"?>
<configuration>
    <system.web>
      <!--<authentication mode="None"/>-->
      <!--first rules denies anonymous users and the second rule allows
all other users. Reversing the lines will allow all users -->
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
</configuration>
