<?xml version="1.0"?>
<configuration>
    <system.web>
      <!--<authentication mode="None"/>-->
      <!--first rules denies anonymous users and the second rule allows
all other users. Reversing the lines will allow all users -->
      <authorization>
        <deny users="?" />
        <allow users="Admin" />
        <allow users="LogisticsManager" />
        <allow users="ProductManager" />
        <allow roles="Admin"/>
        <allow roles="LogisticsManager"/>
        <allow roles="ProductManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
</configuration>
