

#contactForm{

    padding: 25px;
    min-height:150px;
    overflow:auto;
}


#headings{
    float:left;
}

#input{
    margin-top:30px;
    padding:25px;
}

#inputFields{
    float:left;
    border-color:#000000;
    border-width:1px;
    margin-left:20px;
}

#textMessage{

    text-align:start;
    margin-top:50px;
    border-color:#000000;
    border-width:1px;
    height: 10px;
    width: 584px;
    margin-left:20px;
}

.textArea{
    float:left;
    margin-bottom:30px;
}

legend{
    text-decoration-color:#000000;
    font-weight:bold;
}

.btnContactMsgSend{
    margin-left:30px;
    Height: 27px;
    Width:81px;
    border-style:double;
    border-color: white black;
    border-width: 5px;
    border-radius:10px;
    background-color:#000000;
    font-weight:bold;
    color:white;
}

.btn{
    margin-left:30px;
    Height: 27px;
    Width:81px;
    border-style:double;
    border-color: white black;
    border-width: 5px;
    border-radius:10px;
    background-color:#000000;
    font-weight:bold;
    color:white;
}

.btnContactMsgClear{
    margin-left:30px;
    Height: 27px;
    Width:81px;
    border-style:double;
    border-color: white black;
    border-width: 5px;
    border-radius:10px;
    background-color:#000000;
    font-weight:bold;
    color:white;
}

.btnContactMsgSend:hover {

     font-weight:bold;
     background-color:#ffffff;
     color:black;
     border-style:double;
     border-color: black black black black;
}


.btnContactMsgClear:hover{

     font-weight:bold;
     background-color:#ffffff;
     color:black;
     border-style:double;
     border-color: black black black black;
}



#buttonHolder{
    clear:both;
    margin-top:40px;
    margin-left:100px;
}